# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
roms/*
src/bitboy.bin
src/bitboy.elf
src/bitboy_emu
src/build/*

