# Object files
*.o
*.ko

# Libraries
*.lib
*.a
*.elf 
*.bin

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
roms/*
bitboy.bin
bitboy.elf
bitboy_emu
build/

